{% extends "base.html" %}
{% load static %}

  <div class="overlay" data-overlay></div>
  <div class="modal" data-modal>

    <div class="modal-close-overlay" data-modal-overlay></div>

    <div class="modal-content">

      <button class="modal-close-btn" data-modal-close>
        <ion-icon name="close-outline"></ion-icon>
      </button>

    </div>

  </div>

  <div class="notification-toast" data-toast>

    <button class="toast-close-btn" data-toast-close>
      
    </button>

  </div>



 {% block content %}  
    <div class="banner">

        <div class="container">
  
          <div class="slider-container has-scrollbar">
  
            <div class="slider-item">
  
              <img src="{% static 'images/electronique/drone1.jpeg' %}" alt="women's latest fashion sale" class="banner-img">
  
              <div class="banner-content">
  
                <p class="banner-subtitle1">Aéronautique</p>
  
                <h2 class="banner-title">Prenez les commandes du futur</h2>
  
  
                <a href="#" class="banner-btn">Voir maintenant</a>
  
              </div>
  
            </div>
  
            <div class="slider-item">
  
              <img src="{% static 'images/electronique/robot11.png' %}" alt="modern sunglasses" class="banner-img">
  
              <div class="banner-content">
  
                <p class="banner-subtitle">ROBOTIQUE</p>
  
                <h2 class="banner-title">Prêt à révolutionner la recherche pour un avenir brillant </h2>
  
  
  
                <a href="#" class="banner-btn">Voir Maintenant </a>
  
              </div>
  
            </div>

            <div class="slider-item">
  
              <img src="./assets/images/electronique/domotique.jpg" alt="modern sunglasses" class="banner-img">
  
              <div class="banner-content">
  
                <p class="banner-subtitle" style="color: blueviolet;">DOMOTIQUE</p>
  
                <h2 class="banner-title" style="color: black;">Prendre soin de votre jardin à distance </h2>
  
  
  
                <a href="#" class="banner-btn">Voir Maintenant </a>
  
              </div>
  
            </div>
  
  
            </div>
  
        </div>
  
    </div>


    <div class="product-container">

        <div class="container">
  
          <div class="product-box">
            <div class="product-main">
  
              <h2 class="title">Produit</h2>
  
              <div class="product-grid">
                {% for product in products %}
                <div class="showcase">
  
                  <div class="showcase-banner">
  
                    <img src="{{ product.img }}" alt="Mens Winter Leathers Jackets" width="300" class="product-img default">
                    <img src="{{ product.img }}" alt="Mens Winter Leathers Jackets" width="300" class="product-img hover">
  
                    
  
                    <div class="showcase-actions">
  
                      <button class="btn-action">
                        <ion-icon name="heart-outline"></ion-icon>
                      </button>
  
                      <button class="btn-action">
                        <ion-icon name="eye-outline"></ion-icon>
                      </button>
  
                      <button class="btn-action">
                        <ion-icon name="repeat-outline"></ion-icon>
                      </button>
  
                      <button class="btn-action">
                        <ion-icon name="bag-add-outline"></ion-icon>
                      </button>
  
                    </div>
  
                  </div>
  
                  <div class="showcase-content" id= {{product.id}}>
  
                    <a  class="showcase-category">{{product.kind}} </a>
  
                    <a >
                      <h3 class="showcase-title">{{product.name}}</h3>
                    </a>
  
                    <div class="price-box">
                      <p class="price">Quantité</p>
                      <p class="qte" >{{product.quantity}}</p>
                    </div>
  
                    
                      <div class="counter-box">
                        <button class="decrement">-</button>
                        <p class = counter-value> 0</p>
                        <button class="increment">+</button>
                      </div>
                      
                    <div class="boutons-box">   
                      <button class="bouton-ajouter bouton-ajouterR" style="background-color: aquamarine;">Restaurer</button>
                      <button class="bouton-ajouter bouton-ajouterA"> Ajouter</button>
                    </div>
                  </div>
  
                </div>
                {% endfor %}
              </div>
  
            </div>
  
          </div>
  
        </div>
  
      </div> 

    <div>

      <div class="container">

        <div class="testimonials-box">

        </div>

      </div>

    </div>
    {% endblock content %}