{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Y'ELLO LAB</title>

  <!--
    - favicon
  -->
      <link rel="shortcut icon" href="{% static 'logo/favicon.ico' %}" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'css/style-prefix.css' %}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

</head>

<body>


  <div class="overlay" data-overlay></div>

  <!--
    - MODAL
  -->

  <div class="modal" data-modal>

    <div class="modal-close-overlay" data-modal-overlay></div>

    <div class="modal-content">

      <button class="modal-close-btn" data-modal-close>
        <ion-icon name="close-outline"></ion-icon>
      </button>


    </div>

  </div>



  <div class="notification-toast" data-toast>

    <button class="toast-close-btn" data-toast-close>
      
    </button>

  </div>
  <header>
    <div class="header-main">

        <div class="container">
  
          <a href="#" class="header-logo">
            <img src="{% static 'logo/logo.svg' %}" alt="YELLO's logo" width="120" height="36">
          </a>
  
          <div class="header-search-container">
        <FORm  method="get" action="{% url 'filter_products' %}"> 
          {% csrf_token %}
          <input type="search" name="search" class="search-field" placeholder="Enter your product name...">
        
          <button class="search-btn">
            <ion-icon name="search-outline"></ion-icon>
          </button>
        </FORm>

  
          </div>
  
          <div class="header-user-actions">
   
            <button class="action-btn">
              <ion-icon name="bag-handle-outline"></ion-icon>
              <span class="count">0</span>
            </button>
  
          </div>
  
        </div>
  
      </div>
    </div>
  </header>
